.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.dialog-window {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 150px;
  left: calc(50% - 125px);
  position: absolute;
  top: calc(50% - 75px);
  width: 250px;
}
